/*--------------------------------------------
 GARAGE STYLES
---------------------------------------------- */

/*--------------------------------------------
 GARAGE DOOR STYLES
---------------------------------------------- */

/* Container box to set the sides relative to */
.garage-door {
  display: flex;
  flex-wrap: wrap;
  height: 60rem;
  min-width: 55rem;
  position: fixed;
  transform-style: preserve-3d; /* <-NB */
  transform: translateX(44%) translateY(50%);
  transition: transform 0.5s; /* Animate the transform properties */
  width: 55%;
  z-index: -2;
}

.garage-door_open {
  transform: rotateX(89deg) translate3d(44%, 50%, 10rem);
}

.garage-front {
  max-width: 100%;
  margin: 0;
}
