/*--------------------------------------------
 GARAGE STYLES
---------------------------------------------- */

/*--------------------------------------------
 GARAGE DOOR STYLES
---------------------------------------------- */

/* Container box to set the sides relative to */
.garage-door {
  display: flex;
  flex-wrap: wrap;
  height: 50rem;
  min-width: 55rem;
  position: fixed;
  transform-style: preserve-3d; /* <-NB */
  transform: translateX(45%) translateY(44%);
  transition: transform 0.5s; /* Animate the transform properties */
  width: 47%;
  z-index: -2;
}

.garage-door_open {
  transform: rotateX(89deg) translate3d(45%, 44%, 10rem);
}

.garage-bikeRack {
  transform: translateX(37rem);
}
