/*--------------------------------------------
 GARAGE STYLES
---------------------------------------------- */

.garage-page {
  height: 100%;
  width: 100%;
}

.garage {
  position: relative;
  height: 100%;
  width: 100%;
}

.garage_open {
  border-color: transparent;
}

/*--------------------------------------------
 GARAGE BACKGROUND STYLES
---------------------------------------------- */

.garage-bg {
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // background-position-x: 0;
  // position: fixed;
  // top: 0;
  // bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -2
}

/*--------------------------------------------
 PERSPECTIVE BODY STYLES
---------------------------------------------- */

/* Set-up */
body {
	-webkit-perspective: 100rem; /* <-NB */
}

/*--------------------------------------------
 GARAGE DOOR STYLES
---------------------------------------------- */

/* Container box to set the sides relative to */
.garage-door {
  box-shadow: 0rem 1.4rem 1rem .1rem rgba(#ccc, 0.5);
  display: flex;
  flex-wrap: wrap;
  height: 50rem;
  min-width: 55rem;
  position: fixed;
  margin: auto;
  top: 0;
  transform-style: preserve-3d; /* <-NB */
  transform: translateX(24%) translateY(19%);
  transition: transform 0.5s; /* Animate the transform properties */
  width: 47%;
  z-index: -2;
}

.garage-door_open {
  transform: rotateX(89deg) translate3d(24%, 19%, 10rem);
}

/*--------------------------------------------
 GARAGE FRONT & EDGES STYLES
---------------------------------------------- */

/* The two faces of the cube */
.garage-front,
.garage-edges {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 10rem;
}

/* Position the faces */
.garage-front {
  max-width: 55rem;
  height: 10rem;
  margin: 0 auto;
  transform: translateZ(90px);
}

.garage-edges {
  height: 2rem;
  transform: rotateX(-90deg) translateZ(-90px);
}


/*--------------------------------------------
 GARAGE PANEL STYLES
---------------------------------------------- */

.garage-panel {
  border-bottom: 0.2rem solid #dddddd;
  box-sizing: border-box;
  flex-basis: 25%;
  height: 109%;
  position: relative;
  &::before {
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
  }
}

/*--------------------------------------------
 GARAGE PANEL GLASS STYLES
---------------------------------------------- */

.garage-panelGlass {
  height: 100%;
  position: relative;
  &::before {
    background: rgba(#424242, 0.95);
    border: 1rem solid black;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
  &::after {
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    border: 2rem solid transparent;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

/*--------------------------------------------
 GARAGE CONTROLS STYLES
---------------------------------------------- */

.garage-controls {
  align-items: center;
  background: #43464B;
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: space-around;
  position: fixed;
  top: 30%;
  left: auto;
  right: 20%;
  width: 3rem;
  transform: translate(-5rem, 20rem);
}

.garage-control {
  border-radius: 50%;
  box-shadow: 0rem 0rem .1rem .1rem rgba(#ccc,0.5);
  height: 1.5rem;
  width: 1.5rem;
}

.garage-control_green {
  background: green;
}

.garage-control_red {
  background: red;
}

/*--------------------------------------------
 GARAGE CARD STYLES
---------------------------------------------- */

.garage-card {
  background: rgba(#ccc, .9);
  box-shadow: 0rem 0rem .3rem .3rem rgba(#424242,0.5);
  min-height: 10rem;
  left: 1.5rem;
  padding: 0 1.6rem;
  position: fixed;
  top: 10rem;
  width: 20rem;
  z-index: 1;
}


/*--------------------------------------------
 GARAGE BIKE RACK STYLES
---------------------------------------------- */

.garage-bikeRack {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  opacity: 0;
  transform: translateX(-5rem);
  transition-delay: 0.5s;
  transition: all 1s ease;
  width: 40%;
  z-index: -4;
  a {
    display: flex;
    justify-content: center;
  }
}

.garage-bike {
  margin: 0 auto;
}

.garage_open {
  .garage-bikeRack {
    opacity: 1;
    z-index: 1;
  }
}
