<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="">
    <title>React Webpack Boilerplate</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en" rel="stylesheet" />
    <link href="/assets/main.css" rel="stylesheet">

  </head>
  <body>
    <noscript>
      <p>
        Javascript is currently disabled. Please <a class="txt txt_linkPlain" href="http://www.google.com/support/bin/answer.py?answer=23852" target="_blank">enable javascript</a> for an optimal experience.
      </p>
    </noscript>
    <div id="app"></div>
    <script src="/assets/bundle.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
