$background: rgba(0,0,0,1);
$lightestFade: rgba(255,255,255,.5);

html, body, #app, div[data-reactroot], main {
  height: 100%;
  width: 100%;
}


body {
  background: $background;
  color: #ddd;
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 1;
  margin: 0;
}

header {
  height: 2rem;
}

main {
  height: calc(100% - 4rem);
}

footer {
  height: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  > li {
    color: white;
    display: inline;
    padding: 0 0.8rem;
  }
}

a,
a:-webkit-any-link {
  color: white;
  cursor: pointer;
  font-weight: 300;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-top: 1.6rem;
}

.isVisuallyHidden {
  display: none;
}

.linkNormal {
  padding: 0.4rem 0 !important;
  width: auto !important;
}

.inline {
  display: inline;
}

.logo {
  position: absolute;
}
