$background: rgba(0,0,0,1);
$bgImage: url(/assets/media/images/garage.png);

html, body {
  background: $background;
  height: 100%;
  width: 100%;
}

body {
  background: $bgImage top center no-repeat;
  background-attachment: fixed;
  background-size: 150%;
  background-position-y: -20rem;
  background-position-x: 0;
  font-family: "Helvetica Neue", serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  > li {
    color: white;
    display: inline;
    padding: 0 0.8rem;
  }
}

a,
a:-webkit-any-link {
  color: white;
}
