$VIEWPORT_LG: 1200px;
$VIEWPORT_XL: 2000px;

@import 'elements';
@import 'objects/avatar/avatar';
@import 'objects/garage/garage';
@import 'objects/home/home';
@import 'objects/shop/bike-drawer';
@import 'objects/shop/shop';


/* ----------------------
 XL MONITOR
------------------------- */

@media only screen and (min-width: $VIEWPORT_LG) {
  @import "screen_lg";
}

@media only screen and (min-width: $VIEWPORT_XL) {
  @import "screen_xl";
}
